$primary-color: #fb3e8d !default;
$primary-color-light: #F4511E !default;
$primary-color-dark: #BF360C !default;
$title-text: #FAFAFA !default;
$rowInactive: #9c9c9c;

input :focus {
  border-bottom: 10px solid $primary-color-dark;
}

.input-field input {
  border-bottom: 1px solid $primary-color-dark !important;
  box-shadow: 0 1px 0 0$primary-color-dark !important
}

.input-field input:focus {
  border-bottom: 1px solid $primary-color-light !important;
  box-shadow: 0 1px 0 0 $primary-color-light !important
}

.input-field button:hover {
  background-color: $primary-color-light !important;
}

.material-icons{
  color: $primary-color-dark !important;
}

.material-icons:focus {
  color: $primary-color-dark !important;
}

.btn-flat{
  color: $primary-color-dark!important;
}

.material-icons.active {
  color: $primary-color-light !important;
}

.checkbox-crud.filled-in[type="checkbox"] + label:after{
  border: 2px solid $primary-color-dark!important;
  background: transparent;
}
.checkbox-crud.filled-in[type="checkbox"]:checked + label:after{
  background: $primary-color-dark;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: $primary-color-light!important;;
}

.switch label input[type=checkbox][disabled]+.lever:after, .switch label input[type=checkbox][disabled]:checked+.lever:after {
  background-color: $primary-color-dark!important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: $primary-color-dark!important;
}

.switch label .lever  {
  background-color: $primary-color-light!important;
}

app-side-nav {
  display: none;
  background-color: $primary-color-light !important;
}

.row-inactive {
  color: $rowInactive;
}

.table-container tr.active td {
  background-color: #323232 !important;
  color: $title-text;
}

.table-container-internal-crud tr.active td {
  background-color: #323232 !important;
  color: $title-text;
}

hr{
  height: 2px;
  background-color: $title-text;
  border: none;
}

[type="checkbox"].filled-in:disabled:not(:checked)+label:after {
  border-color: transparent;
  background-color: $primary-color-light!important;
}

.btn, .btn-large {
  background-color: $primary-color-dark !important;
  margin: 5px;
}

