.table-container-internal-crud {
  height: 300px;
  overflow-y: auto;
}

@media screen and (max-width: 1920px) {

  .table-container-internal-crud {
    height: 300px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1366px) {
  .table-container-internal-crud {
    height: 200px;
    overflow-y: auto;
  }

}

@media screen and (max-width: 767px) {
  .table-container-internal-crud {
    height: 200px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 480px) {
  .table-container-internal-crud {
    height: 150px;
    overflow-y: auto;
  }

}

@media screen and (max-width: 320px) {
  .table-container-internal-crud {
    height: 100px;
    overflow-y: auto;
  }

}

