.table-container td {
  width: 500px;
}

.table-container-internal-crud td{
  width: 300px;
}

td, th {
  padding: 5px 5px!important;
}

.table-container-internal-crud{
  height: 100px;
  display: block;
  overflow-y: auto;
}

@media screen and (max-width: 1920px) {
  .table-container {
    height: 600px;
    display: block;
    overflow-y: auto;
  }
  app-side-nav {
    display: none;
  }

  app-nav-bar {
    display: block;
  }

  .table-container-internal-crud{
    height: 100px;
    display: block;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1366px) {
  .table-container {
    height: 300px;
    display: block;
    overflow-y: auto;
  }

  app-side-nav {
    display: none;
  }

  app-nav-bar {
    display: block;
  }

  .table-container-internal-crud{
    height: 200px;
    display: block;
    overflow-y: auto;
  }

}

@media screen and (max-width: 767px) {
  .table-container {
    height: 200px;
    display: block;
    overflow-y: auto;
  }

  app-side-nav {
    display: block;
  }

  app-nav-bar {
    display: none;
  }

  .table-container-internal-crud{
    height: 200px;
    display: block;
    overflow-y: auto;
  }
}

@media screen and (max-width: 480px) {
  .table-container {
    height: 200px;
    display: block;
    overflow-y: auto;
  }

  * {
    font-size: 11px;
  }

  app-side-nav {
    display: block;
  }

  app-nav-bar {
    display: none;
  }

  .table-container-internal-crud{
    height: 150px;
    display: block;
    overflow-y: auto;
  }
}

@media screen and (max-width: 320px) {
  .table-container {
    height: 150px;
    display: block;
    overflow-y: auto;
  }

  * {
    font-size: 10px;
  }

  app-side-nav {
    display: block;
  }

  app-nav-bar {
    display: none;
  }

  .table-container-internal-crud{
    height: 100px;
    display: block;
    overflow-y: auto;
  }

}

