#btnSave{
  float: right;
}

.rowGrid:hover {
  background-color: #f8bbd0;
  cursor: pointer;
}

table {
  display: block;
  height: 400px;
  overflow-y: auto;
  margin-left:auto;
  margin-right:auto;
  table-layout: auto;

}
