#btnSave {
  float: right;
}

.rowGrid:hover {
  background-color: #f8bbd0;
  cursor: pointer;
}

.table-container {
  height: 300px;
  display: block;
  overflow-y: auto;
}

.table-container tr.active td {
  background-color: rgba(25, 39, 48, 0.73) !important;
}

