#btnSave {
  float: right;
}

.rowGrid:hover {
  cursor: pointer;
}

.table-container {
  height: 400px;
  display: block;
  overflow-y: auto;
}

.table-container tr.active td {
  background-color: rgba(25, 39, 48, 0.73) !important;
}

.table-container  td {
  width:600px;

}
