@import '../../../styles/colors';

.dehaze-side-nav{
  padding: 5px;
}

.dehaze-side-nav:hover{
  cursor: pointer;
}

.header-title{
  font-size: medium;
  color: $primary-color-dark;
  float: right;
  padding: 5px;
  font-weight: bold;
}

.brand-logo{
  height: 160px;
}


