<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <mz-card class="mt-5 z-depth-5">
        <mz-card-title>
          <h4>Digital Gourmet</h4>
        </mz-card-title>
        <mz-card-content>
          <mz-input-container>
            <input mz-input
                   [(ngModel)]="userName"
                   type="text" [validate]="true"
                   [label]="'Usuario'">
          </mz-input-container>
          <mz-input-container>
            <input mz-input
                   [(ngModel)]="password"
                   type="password" [validate]="true"
                   [label]="'Constraseña'">
          </mz-input-container>
        </mz-card-content>

        <mz-card-action>
          <button mz-button [flat]="true" (click)="login()">Login</button>
        </mz-card-action>
      </mz-card>
    </div>
  </div>
</div>

