html {
  display: table;
  margin: auto;
}
body {
  width: 50%;
  margin: auto;
}

#login-page {
  width: 500px;
}

input{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

h3{
text-align: center;
}

