<nav>
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo">Digital Gourmet</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home">Clientes</a></li>
      <li><a routerLink="/body">Compras</a></li>
      <li><a class="dropdown-trigger"  data-activates="dropdownAdm">Administración<i class="material-icons right">arrow_drop_down</i></a>
      <li><a routerLink="/body">Reportes</a></li>
      <li><a class="dropdown-trigger"  data-activates="dropdown1"><i class="material-icons right">view_module</i></a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Saraza 1</a></li>
    <li><a href="#!">Saraza 2</a></li>
    <li class="divider"></li>
    <li><a (click)="closeSesion()">Salir</a></li>
  </ul>

<!-- Dropdown Structure -->
<ul id="dropdownAdm" class="dropdown-content">
  <li><a routerLink="/user" routerLinkActive="active">Usuarios</a></li>
</ul>
