  <mz-navbar>
    <a routerLink="/home" class="brand-logo">Digital Gourmet</a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a routerLink="/home">Clientes</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/home">Compras</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a class="dropdown-button" data-activates="dropdownAdm">Administración
          <i class="material-icons right">arrow_drop_down</i></a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/home">Reportes</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a class="dropdown-button" data-activates="dropdown1">
          <i class="material-icons right">view_module</i></a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Saraza 1</a></li>
    <li><a href="#!">Saraza 2</a></li>
    <li class="divider"></li>
    <li><a (click)="closeSesion()">Salir</a></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdownAdm" class="dropdown-content">
    <li><a routerLink="/user" routerLinkActive="active">Usuarios</a></li>
    <li><a routerLink="/role" routerLinkActive="active">Roles</a></li>
  </ul>
