@import '/styles/colors';
@import '/styles/margin-padding';
@import '/styles/responsives';

* {
  font-family: Roboto;
}

#btnSave {
  float: right;
}

.row-grid-crud:hover {
  cursor: pointer;
}

.icons-internal-crud {
  float: right;
  vertical-align: middle;
  display: inline-block!important
}

.icon-internal-crud {
  margin:5px;
  vertical-align: middle;
}

.icon-internal-crud:hover {
  cursor: pointer;
}


